*{
    box-sizing: border-box;
}

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom right,#a9dbff, white, #abdaff);    
    background-repeat: no-repeat;
    background-size:  cover;
    width: 100%;
    height: 100vh;
    /* font-family: 'Markazi Text', serif; */
    /* font-family: 'Pacifico', cursive;  */
    font-family: 'Cookie', cursive; 
}

.wrap{
    outline: 0px solid red;
    width: 100%;
    height: 100%;
}

.div-img{
    outline: 0px solid red;
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
}

.div-img > img{
    width: 900px;
    margin: auto 0px auto 0px;
}

.div-info{
    outline: 0px solid red;
    width: 39%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.info-wrap{
    outline: 0px solid red;
    width: 500px;
    display: table;
    margin: auto 0px auto 0px;
}

.info{
    outline: 0px solid red;
    width: 450px;
    height: 110px;
    margin: 10px 15px;
    border-bottom: 2px solid grey;
}

.icon{
    font-size:55px; 
    color: gray; 
    margin: 35px 7px 10px 7px;
    outline: 0px solid;
    width: 15%;
    color: #545b82; 
    text-shadow: 0px 0px 5px #111111;
}

.info > p{
    outline: 0px solid;
    width: 77%;
    font-size: 55px;
    color: #545b82; 
    float: right;
    margin: 40px 1px 5px 1px;
    text-shadow: 0px 0px 3px #111111;

}


@media screen and (min-width:1000px) and (max-width:1250px){
    .div-img{
        width: 65%;
        height: 100%;
        justify-content: flex-end;
    }
    .div-img > img{
        width: 750px;
        margin: auto 0px auto 0px;
    }
    .info-wrap{
        width: 400px;
        margin: auto 0px auto 0px;
    }
    .div-info{
        width: 34%;
        height: 100%;
        justify-content: flex-start;
    }
    .info{
        width: 320px;
        height: 90px;
        margin: 10px 15px;
    }
    .icon{
        font-size:45px; 
        margin: 35px 7px 10px 7px;
        width: 15%;
    }
    .info > p{
        width: 77%;
        font-size: 45px;
        margin: 30px 1px 5px 1px;    
    }
} 

@media screen and (min-width:768px) and (max-width:999px){
    body{
        min-height: 580px;
    }
    .div-img{
        width: 55%;
        height: 100%;
        justify-content: flex-end;
    }
    .div-img > img{
        width: 450px;
        margin: auto 0px auto 0px;
    }
    .info-wrap{
        width: 400px;
        margin: auto 0px auto 0px;
    }
    .div-info{
        width: 34%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .info{
        width: 300px;
        height: 67px;
        margin: 10px 15px;
    }
    .icon{
        font-size:30px; 
        margin: 35px 7px 10px 7px;
        width: 15%;
    }
    .info > p{
        width: 77%;
        font-size: 38px;
        margin: 20px 1px 5px 1px;    
    }
} 

@media screen and (min-width:600px) and (max-width:767px){
    body{
        min-height: 580px;
    }
    .div-img{
        width: 100%;
        height: 30%;
        justify-content: center;
    }
    .div-info{
        width: 100%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .div-img > img{
        width: 300px;
        margin: auto 0px auto 0px;
    }
    .info-wrap{
        width: 400px;
        margin: auto 0px auto 0px;
    }
    .info{
        width: 80%;
        height: 67px;
        margin: 10px auto;
    }
    .icon{
        font-size:30px; 
        margin: 35px 7px 10px 7px;
        width: 15%;
    }
    .info > p{
        width: 77%;
        font-size: 44px;
        margin: 20px 1px 5px 1px;
    }
} 

@media screen and (min-width:400px) and (max-width:599px){
    body{
        min-height: 580px;
    }
    .div-img{
        width: 100%;
        height: 30%;
        justify-content: center;
    }
    .div-info{
        width: 100%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .div-img > img{
        width: 300px;
        margin: auto 0px auto 0px;
    }
    .info-wrap{
        width: 400px;
        margin: auto 0px auto 0px;
    }
    .info{
        width: 80%;
        height: 60px;
        margin: 10px auto;
    }
    .icon{
        font-size:30px; 
        margin: 15px 7px 10px 7px;
        width: 15%;
    }
    .info > p{
        width: 77%;
        font-size: 44px;
        margin: 10px 1px 5px 1px; 
    }
} 


@media screen and (min-width:300px) and (max-width:399px){
    body{
        min-height: 580px;
    }
    .div-img{
        width: 100%;
        height: 30%;
        justify-content: center;
    }
    .div-info{
        width: 100%;
        height: 70%;
    }
    .div-img > img{
        width: 220px;
        margin: auto 0px auto 0px;
    }
    .info-wrap{
        width: 400px;
        margin: auto 0px auto 0px;
    }
    .info{
        width: 80%;
        height: 50px;
        margin: 10px auto;
    }
    .icon{
        font-size:30px; 
        margin: 15px 7px 10px 7px;
        width: 15%;
    }
    .info > p{
        width: 77%;
        font-size: 38px;
        margin: 10px 1px 5px 1px;    
    }
} 

@media screen and (max-width:299px){
    body{
        min-height: 580px;
    }
    .div-img{
        width: 100%;
        height: 30%;
    }
    .div-info{
        width: 100%;
        height: 70%;
    }
    .div-img > img{
        width: 220px;
        margin: auto 0px auto 0px;
    }
    .info-wrap{
        width: 400px;
        margin: auto 0px auto 0px;
    }
    .info{
        width: 80%;
        height: 50px;
        margin: 10px auto;
    }
    .icon{
        font-size:30px; 
        margin: 15px 7px 10px 7px;
        width: 15%;
    }
    .info > p{
        width: 77%;
        font-size: 38px;
        margin: 10px 1px 5px 1px;    
    }
} 